---
import { title,description,intro,content,text,link,btn } from '../data/home';
---
<main>
<h3>{title}</h3>
<h4>{description}</h4>
<p>{intro}</p>
<p>{content}</p>
<p>{text}</p>
<p><a href={link}>{btn}</a></p>
</main>